@{
    ViewBag.Title = "Weather Monitor";
}

@model IEnumerable<WeatherMonitor.Web.Models.WeatherModel>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<ol class="round">
    @foreach (var weatherItem in Model)
    {
        <li class="one">
            WeatherTime: @weatherItem.WeatherTime <br/>
            Degrees: @weatherItem.Degrees <br/>
            Humidity: @weatherItem.Humidity <br/>
            Pressure: @weatherItem.Preassure <br/>
            WindSpeed: @weatherItem.WindSpeed <br/>
        </li>
    }
</ol>
